<!DOCTYPE html>
<html>
<head>
  <title>Drawing App</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="controls">
    <button id="drawLine">Draw Line</button>
    <button id="drawArc">Draw Arc</button>
    <button id="drawPolyline">Draw Polyline</button>
    <button id="drawSpline">Draw Spline (Bậc 3)</button>
    <button id="clearCanvas">Clear Canvas</button>
    <button id="saveLines">Save Lines</button>
  </div>
  <canvas id="drawingCanvas"></canvas>
  <script src="/static/script.js"></script>
</body>
</html>